* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1500) {
  .container {
    max-width: 1450px;
  }
}
