.select {
  width: 100%;
  max-width: 280px;
  padding: 0 20px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: 1px solid #99897c;
  border-radius: 8px;
  overflow: hidden;

  &-input {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    bottom: 0;
    right: 0;
  }
}
